.container {
  max-width: 575px;
  margin: 0 auto;
  border: 3px solid orangered;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-align {
  align-items: center;
}

.full-column {
  flex-basis: 100%;
}
