.container {
  max-width: 575px;
  margin: 0 auto;
  border: 3px solid orangered;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}
