tr {
  height: 20px;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

tr:nth-child(even) {
  background-color: #fff;
}

select,
textarea {
  display: block;
}

#cancel {
  color: white;
  background-color: grey;
  border-radius: 5px;
  text-decoration: none;
  padding: 4px;
}

.modal-actions {
  margin-top: 10px;
}

#confirm {
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 4px;
  border: none;
}

table {
  border: 3px solid pink;
  margin-top: 20px;
}

th {
  background-color: white;
}
