a {
  text-decoration: none;
}

tr {
  height: 35px;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

tr:nth-child(even) {
  background-color: #fff;
}

select,
textarea {
  display: block;
}

#cancel {
  color: white;
  background-color: grey;
  border-radius: 5px;
  text-decoration: none;
  padding: 4px;
}

.modal-actions {
  margin-top: 10px;
}

#confirm {
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 4px;
  border: none;
}

table {
  margin-top: 20px;
  border: 2px solid rgb(175, 173, 173);
  border-collapse: collapse;
}

th {
  background-color: white;
}

.edit-btn {
  padding: 0.25rem 0.5rem;
  background-color: #5779c6;
  color: #fff;
  border-radius: 5px;
}

.delete-btn {
  padding: 0.25rem 0.5rem;
  background-color: red;
  color: #fff;
  border-radius: 5px;
}

#add-new {
  margin-top: 15px;
  background-color: grey;
  color: white;
  padding: 4px;
  border-radius: 5px;
}

td {
  border-right: 2px solid rgb(175, 173, 173);
}
